// z-index - перелік
// ._flyImage ._ibg   / z-index: 1300;
// .offcanvas.showing / z-index: 1200;
// .search-form       / z-index: 1100; пошук по сайту/по роутам
// #progress          / z-index: 1000;
// #header            / z-index: 999;

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    // overflow-x: hidden;
    font-size: 16px;
    font-family: var(--font-base);
    line-height: 1.6rem;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color);

    // font-family: "Open Sans", sans-serif;
    // background: #f6f9ff;
    // color: #444444;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main.main {
    flex: 1 1 auto;
}

// #main {
//     /* margin-top: 60px; */
//     /* padding: 20px 30px; */
//     transition: all 0.3s;
// }

img {
    max-width: 100%;
    height: auto;

    // додала недщодавно
    display: block;
    object-fit: cover;
}

// червона зірочка - позначка що поле обов'язкове до заповнення
.asterisk:after {
    content: "*";
    color: red;
    margin-left: 2px;
}

/* -- Перевизначення загальних елементів -- */
.btn,
// .dropdown-menu,
.form-control,
.form-select,
.form-check-input[type="checkbox"] {
    border-radius: 0;
}

.form-control:focus,
.form-select:focus,
.input-group:focus,
.control-input:focus,
.form-check-input:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.5px rgba(255, 127, 80, 0.6);
}

.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

a {
    color: inherit; //прибираємо синій колір
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-toggle::after {
    content: "\F282";
    font-family: bootstrap-icons !important;
    font-weight: 900;
    font-size: 0.9rem;
    // розташувала стрелку посередині іконки
    vertical-align: -0.125em;
    border: 0;
}

// display: inline-block;
//     font-family: bootstrap-icons !important;
//     font-style: normal;
//     font-weight: normal !important;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     vertical-align: -.125em;
//     -webkit-font-smoothing: antialiased;

/* ==================/ General==================== */

.form-label {
    margin-bottom: 0;
}
.form-control::placeholder {
    color: var(--bs-gray-500);
}

// .navbar-side ul .bi-navbar,
// // .dropdown-toggle .bi-navbar::before,
// .bi-navbar {
//     font-size: 1.5rem;
// }

.table > :not(caption) > * > * {
    padding: 0.25rem 0.5rem;
}

.btn-sort:focus {
    // в таблиці при сортуванні колонки утворюєтся рамка, хотіла прибрати не вийшло - поки
    box-shadow: none;
}

.btn-login {
    // це кнопка на формі Логіна/Реєстрації по ширині займає усю форму
    border-radius: 0;
    font-family: var(--font-title);
    // color: var(--title-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.card-title {
    font-family: var(--font-title);
    font-weight: 600;
    color: var(--title-color);
}
// отступи на форме для chk
// .card-body {
//     padding: 0.5rem 0.5rem;
// }

.card-body {
    padding: 0 1.2em 1.2em 1.2em;
}

.card-link {
    font-weight: 300;
    // font-size: 0.9em;
    font-family: var(--font-title);
    font-style: italic;
    color: var(--accent-color);
}

// текст пишеться в один рядок, решта замінюється на ...
.text-oneline {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    // text-decoration: none;
    transition: all 0.3s;
}

// із одної кнопки розгортання в вертикальну смугу
.img-with-btns {
    --i-width: 42px;
    --i-offset-left: 16px;
    --i-offset-bottom: 16px;

    position: relative;
    /*
    width = 100
    height = 100 * 1.25 = 125
  */
    aspect-ratio: 1 / 1.25;
}

// .img-with-btns img {
//     width: 100%;
//     height: 100%;
//     display: block;
//     object-fit: cover;
// }

.img-with-btns__btn-plus,
.img-with-btns__btn-group {
    position: absolute;
    left: var(--i-offset-left);
    bottom: var(--i-offset-bottom);
    width: var(--i-width);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-gray-500);
    background-color: var(--navbar-bg-color);
    font-size: 1.25rem;
    border-radius: 50%;
    border: none;
}

.img-with-btns__btn-plus {
    z-index: 1;
    font-size: 1.25rem;
    color: var(--bs-gray-500);
    background-color: var(--navbar-bg-color);
    transition: background-color 0.3s ease-in-out;
}

.img-with-btns .img-with-btns__btn-group {
    transition: 0.3s ease-in-out;
}

.img-with-btns:hover .img-with-btns__btn-plus,
.img-with-btns:focus-within .img-with-btns__btn-plus,
.img-with-btns .img-with-btns__btn-group:hover,
.img-with-btns .img-with-btns__btn-group:focus-visible {
    color: var(--text-color);
    background-color: var(--accent-color);
}

.img-with-btns .img-with-btns__btn-group:focus-visible {
    outline: 1px solid;
    outline-offset: -4px;
}

.img-with-btns .img-with-btns__btn-plus i {
    transition: 0.3s ease-in-out;
}

.img-with-btns:hover .img-with-btns__btn-plus i,
.img-with-btns:focus-within .img-with-btns__btn-plus i {
    rotate: 270deg;
}

.img-with-btns:hover button:nth-of-type(1),
.img-with-btns:focus-within button:nth-of-type(1) {
    /* (42 + 8) * 1 + 16 = 66 */
    bottom: calc((var(--i-width) + 8px) * 1 + var(--i-offset-bottom));
}

.img-with-btns:hover button:nth-of-type(2),
.img-with-btns:focus-within button:nth-of-type(2) {
    /* (42 + 8) * 2 + 16 = 116 */
    bottom: calc((var(--i-width) + 8px) * 2 + var(--i-offset-bottom));
}

.img-with-btns:hover button:nth-of-type(3),
.img-with-btns:focus-within button:nth-of-type(3) {
    /* (42 + 8) * 3 + 16 = 166 */
    bottom: calc((var(--i-width) + 8px) * 3 + var(--i-offset-bottom));
}
// ./із одної кнопки розгортання в вертикальну смугу

// при наведенні на кнопку виділення по колу
.iimg-with-btns__btn-group {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: #7a7a7a;
    background-color: #373737;
    border-radius: 50%;
    transition: color 0.5s ease-in-out;
}
@property --fill {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

.iimg-with-btns__btn-group:hover {
    color: greenyellow;
    --fill: 100%;
}

.iimg-with-btns__btn-group::after {
    position: absolute;
    z-index: -1;
    content: "";
    inset: -3px;
    border-radius: inherit;

    background: conic-gradient(
        greenyellow var(--fill),
        transparent var(--fill)
    );
    transition: --fill 0.6s ease-in-out;
}
// ./із одної кнопки розгортання в вертикальну смугу

/* --------------- */
[class*="__container"] {
    // max-width: 81.25rem;
    margin: 0 auto;
    // padding-left: 0.9375rem;
    // padding-right: 0.9375rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
}
