/* ==================Header==================== */
.logo img {
    max-height: 1.4em;
    margin-right: 0.4em;
}

.logo span {
    font-family: var(--font-title);
    font-size: 1.2em;
    font-weight: 500;

    color: var(--accent-color);
}

.top-navbar {
    background-color: var(--navbar-bg-color);
    box-shadow: inset 0 -1px 0 #c4cdd5;
    // /* border-bottom: 1px solid #c4cdd5;
}

.top-navbar a {
    color: var(--text-color);
    font-family: var(--font-accent);
    font-size: 1.2rem;
    font-weight: 300;
}

.top-navbar .navbar-nav > li > a::before {
    content: "";
    width: 100%;
    display: block;
    border-top: 2px solid var(--accent-color);
    transform: scale(0);
    transition: all 0.3s;
}
.top-navbar .navbar-nav > li > a:hover:before {
    transform: scale(1);
}

.navbar-side {
    display: flex;
    position: relative;
}

.navbar-side > ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-bottom: 0;
    margin-right: 45px;
}

.navbar-side ul i {
    color: var(--grey-color);
    font-size: 18px;
    transition: all 0.3s;
}

.navbar-side a {
    transition: all 0.3s;
}

.navbar-side > ul > li > a:hover,
.navbar-side > ul > li > a:hover i {
    color: var(--main-color);
}

.navbar-side .dropdown-item:hover {
    color: var(--bg-color);
    background-color: var(--grey-color);
}

.megamenu {
    padding: 1rem;
    border-radius: 4px;
}

.megamenu .title {
    border-bottom: 1px solid var(--main-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--black-color);
}

.megamenu li {
    margin-bottom: 10px;
}

.megamenu a {
    color: var(--grey-color);
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.megamenu a:hover {
    color: var(--black-color);
    text-decoration: underline;
}

/* прибираємо обводку у бургері */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2822, 28, 36, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* маленьке меню праворуч*/
.navbar-side {
    display: flex;
    position: relative;
}
.navbar-side > ul {
    display: flex;
    list-style: none;
    gap: 1.1rem;
    margin-bottom: 0;
    margin-right: 2.8rem;
}
.navbar-side ul i {
    color: var(--bs-gray-800);
    font-size: 1.1rem;
    transition: all 0.3s;
}
.navbar-side a {
    transition: all 0.3s;
}
.navbar-side > ul > li > a:hover,
.navbar-side > ul > li > a:hover i {
    color: var(--accent-color);
}
.navbar-side .dropdown-item:hover {
    color: var(--navbar-bg-color);
    background-color: var(--text-color);
}
/* ./маленьке меню праворуч*/

/* велике меню */
.top-navbar .dropdown-menu {
    box-shadow: 0 4px 18px -2px rgba(0, 0, 0, 0.1);
    background-color: var(--navbar-bg-color);
}

.megamenu {
    padding: 1rem;
    border-radius: 4px;
}

.megamenu .title {
    font-size: 1.2rem;
    line-height: 1rem;
    font-family: var(--font-accent);
    font-weight: 300;
    color: var(--bs-gray-900);
    border-bottom: 1px solid var(--bs-gray-900);
}

.megamenu li {
    margin-bottom: 0.2px;
}

.megamenu a {
    color: var(--bs-gray-700);
    font-family: var(--font-accent);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s;
}
.megamenu a:hover {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
}

/* прибираємо обводку у бургері */
.navbar-toggler {
    border: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2822, 28, 36, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* .search-bar розкривається пошук по route*/
.search-bar {
    position: absolute;
    right: -10px;
    top: -7px;
    z-index: 1100;
    --size: 50px;
    --padding: 5px;

    display: flex;
    justify-content: flex-end;
    background-color: var(--navbar-bg-color);
    // box-shadow: 0 10px 10px 0 #d6d9e2;
    border-radius: 100px;
    outline: 1px solid transparent;
    overflow: hidden;

    padding: var(--padding);
    margin-inline: auto;
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
}

.search-bar:focus-within {
    width: 100%;
    outline: 1px solid var(--accent-color);
    box-shadow: 0 10px 10px 0 #d6d9e2;
}

.search-input {
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    flex: auto;

    opacity: 0;
    transition: opacity 0.5s;
}

.search-bar:focus-within .search-input {
    opacity: 1;
}

.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--navbar-bg-color);
    background-color: var(--bs-gray-500);
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}

// Беру <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
// прибираю top-0 start-100
.btn .badge {
    top: 0.44em !important;
    // left: 80px;
}

// Offcanvas-Пакет: кладемо device
// анімація польта клона image
._flyImage ._ibg {
    opacity: 1;
    position: fixed;
    z-index: 1300;
    transition: all 1s ease 0s;
}
/* ==================Header==================== */
