:root {
    --title-color: #012970;
    --accent-color: #ffa500;
    --bs-warning: var(--accent-color) !important;
    // --bs-primary: #ffd333 !important;

    --bs-light: #f8f9fa;
    --bs-dark: #454f5b;

    --bg-color: #eef4fa;

    --font-family-title: "Poppins", sans serif;
    --font-family-base: "Arsenal", sans serif;
    --font-family-accent: "MazzardM", sans serif;

    // --bs-card-spacer-x: 0.5rem !important;
    // // --bs-card-spacer-y: 0.5rem !important;
    // --bs-card-spacer-y: 0.4rem;
}
